---
layout: default
---

<div class="d-flex flex-column flex-md-row align-items-start mb-5">
  <img
    src="{{ '/assets/img/Taehyeong.jpeg' | relative_url }}"
    alt="Home"
    class="img-fluid home-headshot mb-3 mb-md-0 me-md-3">
  <div class="flex-grow-1">
    <h3 class="fw-bold">Research interests</h3>
    {{ content }}
  </div>
</div>

{% include research.html heading="Publications"
   list=site.data.research.featured
   thumb_class="pub-thumb-home" %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ post.url | relative_url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>