---
layout: default
---

<div class="d-flex flex-column flex-md-row align-items-start mb-5">
  <img
    src="{{ '/assets/img/Taehyeong.jpeg' | relative_url }}"
    alt="Taehyeong Kim (Terry Kim), Ph.D. student at Northern Arizona University (NAU)"
    class="img-fluid home-headshot mb-3 mb-md-0 me-md-3">
  <div class="flex-grow-1">
    <h3 class="fw-bold">Research interests</h3>
    {{ content }}
  </div>
</div>

{% include research.html heading="Publications"
   list=site.data.research.featured
   thumb_class="pub-thumb-home" %}

<div class="mb-5">
  <h3 class="fw-bold border-bottom pb-3 mb-3">My Python & R Projects</h3>
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Key lexical bundles</h5>
      <p class="card-text">
        Python code for for running key lexical bundles analysis (Larsson, Kim & Egbert, 2025).
      </p>
      <!-- GitHub star button -->
      <iframe
        src="https://ghbtns.com/github-btn.html?user=taehyeongterrykim&repo=key-lexical-bundles&type=star&count=true&size=large"
        frameborder="0"
        scrolling="0"
        width="170"
        height="30"
        title="GitHub">
      </iframe>
      <br><br>
      <a href="https://github.com/taehyeongterrykim/key-lexical-bundles" 
         class="btn btn-primary" target="_blank">
         View on GitHub
      </a>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Key feature analysis</h5>
      <p class="card-text">
        R package for running key feature analysis to identify lexico-grammatical features that distinguish target and reference corpora (Egbert & Biber, 2023).
      </p>
      <iframe
        src="https://ghbtns.com/github-btn.html?user=taehyeongterrykim&repo=keyfeature&type=star&count=true&size=large"
        frameborder="0"
        scrolling="0"
        width="170"
        height="30"
        title="GitHub">
      </iframe>
      <br><br>
      <a href="https://github.com/taehyeongterrykim/keyfeature" 
         class="btn btn-primary" target="_blank">
         View on GitHub
      </a>
    </div>
  </div>
</div>